footer {
  padding: 2rem 0.5rem;
  background-color: var(--grey-light);
  display: grid;
  place-content: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  padding-left: 0.5rem;
  border-left: 2px solid var(--black-text);
  padding-right: 0.5rem;
  border-right: 2px solid var(--black-text);
}

footer li {
  font-size: 1.1rem;
  text-transform: uppercase;
}

footer a {
  color: var(--black-text);
}

.m-left {
  margin-left: 0.5rem;
}

.cursor-pointer {
  cursor: pointer;
}
