article {
  text-align: center;
}

.blogpost-img {
  max-width: clamp(min(250px), calc(100vw - 10%), max(1000px));
  max-height: 400px;
  object-fit: cover;
  margin: 1rem auto;
  box-shadow: 9px 9px 4px var(--grey-medium);
}

.blogpost-h1 {
  color: var(--black-text);
  font-size: 4rem;
}

.blogpost-h2 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--black-text);
}

.blogpost-time {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--grey-text);
}

.blogpost-hr {
  display: block;
  margin: 1rem auto;
  background-color: var(--black-text);
  width: clamp(min(545px), calc(100vw - 10%), max(1000px));
  height: 2px;
}

.blogpost-p {
  color: var(--black-text);
  font-size: 1.1rem;
  margin: 2rem 14rem;
}
