.not-found {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
}

.section-blogpost {
  display: grid;
  place-items: center;
  margin-block: 2rem;
}

.blogpost-card-container {
  width: clamp(min(250px), calc(100vw - 10%), max(1000px));
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 3rem;
}
