.article {
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 2rem;
}

.article-img {
  max-width: clamp(min(250px), calc(100vw - 10%), max(1000px));
  max-height: 400px;
  object-fit: cover;
  margin: 1rem auto;
  box-shadow: 9px 9px 4px var(--grey-medium);
}

.article-h1 {
  color: var(--black-text);
}

.article-h2 {
  font-weight: 400;
  color: var(--black-text);
}

.article-time {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--grey-text);
}

.article-hr {
  display: block;
  margin: 1rem auto;
  background-color: var(--black-text);
  width: clamp(min(545px), calc(100vw - 10%), max(1000px));
  height: 2px;
}

.article-p-container {
  text-align: start;
  display: grid;
  place-content: center;
  width: 65%;
  margin: auto;
  color: var(--black-text);
  font-size: 1.1rem;
  word-wrap: break-word;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-block: 2rem;
}

.article-button {
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  font-size: 1.25rem;
  border-radius: 8px;
  color: var(--grey-light);
  transition: all 0.1s ease-in-out;
}

.edit {
  background-color: var(--black-text);
}

.edit:where(:hover, :focus-visible) {
  background-color: var(--grey-medium);
  color: var(--black-text);
}

.delete {
  background-color: var(--error);
}

.delete:where(:hover, :focus-visible) {
  background-color: var(--grey-medium);
  color: var(--black-text);
}
