@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --white-bg: #e9ecef;
  --black-text: #212529;
  --grey-light: #ced4d4;
  --grey-text: #343a40;
  --grey-dark: #495057;
  --swiper-navigation-color: #212529;
  --grey-medium: #adb5bd;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--white-bg);
}

h1,
h2 {
  font-family: 'Merriweather', serif;
}

button {
  cursor: pointer;
}
