#upcoming-show-page {
  text-align: center;
  margin-block: 2rem;
}

#upcoming-show-page .upcoming-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#upcoming-show-page .currently-card {
  width: 300px;
  height: auto;
}
